<% provide(:title, "SPECIFIED COMMERCIAL TRANSACTION LAW") %>
  <body>
    <div class="main-wrapper">
      <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <div class="page-title">
                <h2>特定商取引法に関する表記</h2>
              </div>
            </div>
            <div class="col-xs-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active">特定商取引法に関する表記</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix genricContent">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h3>特定商取引法に関する表記</h3>
             <table class="tablepress">
<tbody class="row-hover">
<tr class="row-1 odd">
  <td class="column-1">販売業者名</td><td class="column-2">○○株式会社</td>
</tr>
<tr class="row-2 even">
  <td class="column-1">代表責任者名</td><td class="column-2">甲野太郎</td>
</tr>
<tr class="row-3 odd">
  <td class="column-1">所在地</td><td class="column-2">〒○○○―○○○○<br>
東京都○○区○○　○丁目○番○号</td>
</tr>
<tr class="row-4 even">
  <td class="column-1">電話番号</td><td class="column-2">０３－○○○○―○○○○</td>
</tr>
<tr class="row-5 odd">
  <td class="column-1">電話受付時間</td><td class="column-2">９：００～１８：００</td>
</tr>
<tr class="row-6 even">
  <td class="column-1">メールアドレス</td><td class="column-2">******@*****.co.jp</td>
</tr>
<tr class="row-7 odd">
  <td class="column-1">ホームページURL</td><td class="column-2">http://www.*******.co.jp</td>
</tr>
<tr class="row-8 even">
  <td class="column-1">販売価格</td><td class="column-2">各商品ページをご参照ください。</td>
</tr>
<tr class="row-9 odd">
  <td class="column-1">商品代金以外の必要料金</td><td class="column-2">消費税<br>
送料（全国一律６３０円。商品５，０００円以上の購入で送料無料。）<br>
振込の場合、振込手数料、コンビニ決済の場合、コンビニ決済手数料</td>
</tr>
<tr class="row-10 even">
  <td class="column-1">お届け時期</td><td class="column-2">入金確認後、直ちに商品を発送いたします。</td>
</tr>
<tr class="row-11 odd">
  <td class="column-1">お支払方法</td><td class="column-2">銀行振込、クレジットカード、コンビニ決済</td>
</tr>
<tr class="row-12 even">
  <td class="column-1">お申込みの有効期限</td><td class="column-2">７日以内にお願いいたします。<br>
７日間入金がない場合は、キャンセルとさせていただきます。</td>
</tr>
<tr class="row-13 odd">
  <td class="column-1">返品・交換・キャンセル等</td><td class="column-2">商品発送後の返品・返却等はお受けいたしかねます。<br>
商品が不良の場合のみ交換いたします。キャンセルは注文後２４時間以内に限り受付いたします。<br>
コンビニ決済を利用された場合、コンビニ店頭での返金はいたしません。</td>
</tr>
<tr class="row-14 even">
  <td class="column-1">返品期限</td><td class="column-2">商品出荷より７日以内にご連絡下さい。</td>
</tr>
<tr class="row-15 odd">
  <td class="column-1">返品送料</td><td class="column-2">不良品の場合は弊社が負担いたします。<br>
それ以外はお客様のご負担となります。</td>
</tr>
</tbody>
</table>
            </div>
          </div>
        </div>
      </section>

      <!-- FOOTER -->
      <div class="footer clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>Accessories</h5>
                <ul class="list-unstyled">
                  <li><a href="#">Body care </a></li>
                  <li><a href="#">Chambray </a></li>
                  <li><a href="#">Floral </a></li>
                  <li><a href="#">Rejuvination </a></li>
                  <li><a href="#">Shaving </a></li>
                  <li><a href="#">Toilette </a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>BRANDS</h5>
                <ul class="list-unstyled">
                  <li><a href="#">Barbour </a></li>
                  <li><a href="#">Brioni </a></li>
                  <li><a href="#">Oliver Spencer</a></li>
                  <li><a href="#">Belstaff</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>Accessories</h5>
                <ul class="list-unstyled">
                  <li><a href="#">Body care </a></li>
                  <li><a href="#">Chambray </a></li>
                  <li><a href="#">Floral </a></li>
                  <li><a href="#">Rejuvination </a></li>
                  <li><a href="#">Shaving </a></li>
                  <li><a href="#">Toilette </a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>Get in Touch</h5>
                <ul class="list-unstyled">
                  <li>Call us at (555)-555-5555</li>
                  <li><a href="mailto:support@iamabdus.com">support@iamabdus.com</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="newsletter clearfix">
                <h4>Newsletter</h4>
                <h3>Sign up now</h3>
                <p>Enter your email address and get notified about new products. We hate spam!</p>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="your email address" aria-describedby="basic-addon2">
                  <a href="#" class="input-group-addon" id="basic-addon2">go <i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- COPY RIGHT -->
      <div class="copyRight clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 col-xs-12">
              <p>&copy; 2016 Copyright Bigbag Store Bootstrap Template by <a target="_blank" href="http://www.iamabdus.com/">Abdus</a>.</p>
            </div>
            <div class="col-sm-5 col-xs-12">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- LOGIN MODAL -->
    <div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">log in</h3>
          </div>
          <div class="modal-body">
            <form action="" method="POST" role="form">
              <div class="form-group">
                <label for="login-email">Enter Email</label>
                <input type="email" class="form-control" id="login-email">
              </div>
              <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" class="form-control" id="login-password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
              <button type="submit" class="btn btn-primary btn-block">log in</button>
              <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- SIGN UP MODAL -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Create an account</h3>
          </div>
          <div class="modal-body">
            <form action="" method="POST" role="form">
              <div class="form-group">
                <label for="signup-email">Enter Email</label>
                <input type="email" class="form-control" id="signup-email">
              </div>
              <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" class="form-control" id="signup-password">
              </div>
              <div class="form-group">
                <label for="signup-password-confirmation">Confirm Password</label>
                <input type="password" class="form-control" id="signup-password-confirmation">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
