<div class="productMasking">
  <ul class="list-inline btn-group" role="group">
    <li>
      <a data-toggle="modal" href=".login-modal" class="btn btn-default">
        <i class="fa fa-heart"></i>
      </a>
    </li>
    <li>
      <a href="cart_page.html" class="btn btn-default">
        <i class="fa fa-shopping-cart"></i>
      </a>
    </li>
    <li>
      <a class="btn btn-default" data-toggle="modal" href=".quick-view">
        <i class="fa fa-eye"></i>
      </a>
    </li>
  </ul>
</div>
