<% provide(:title, @taxon.name) %>
<%= render partial: 'potepan/shared/light_section', locals: {section: @taxon.name} %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories_sidebar' %>
        <%= render 'price_search_sidebar' %>
        <%= render 'color_search_sidebar' %>
        <%= render 'size_search_sidebar' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'sort' %>
        <div class="row">
          <%=  render partial: 'product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'bottom_light_section' %>
